@import "normalize";
@import "colors";
@import "icons";
@import "fonts";
@import "highlight";

* {
  box-sizing: border-box;
}

body {
  font-family: acumin-pro, sans-serif;
  background: #19578B;
}

#blog-header {
  text-align: center;
  background: #19578B;
}

#blog-header h1 {
  font-size: 2em;
  font-weight: bold;
  color: white;
}

#blog-header p {
  color: white;
}

.topics__list {
  background: white;
  padding: 0 20px;
}

.topics__list h2 {
  font-size: 1em;
  font-weight: 400;
  margin: 0;
}

.topics__bubble-top {
  width: 100vw;
  display: block;
  margin-bottom: -2px;
}

.topics__bubble-bottom {
  width: 100vw;
  display: block;
  margin-top: -2px;
  transform: rotate(180deg)
}

.topic {
  font-family: bookman-jf-pro, serif;
}

.topic a {
  font-family: bookman-jf-pro, serif;
  color: #19578B;
}

.articles {
  margin-top: 40px;
}

.articles__article {
  background: #19578B;
  margin: 0;
}

.articles__article--topic {
  font-size: 0.75em;
  background: white;
  padding: 5px 20px;
  border-radius: 0 20px 0 0;
}

.articles__article--topic a {
  font-family: bookman-jf-pro, serif;
  color: #19578B;
  margin: 0 10px;
}

.articles__article--title {
  margin-top: 0;
  font-weight: 400;
  padding: 10px;
  line-height: 1em;
  background: white;
}

.articles__article--title a {
  text-decoration: none;
  color: black;
  font-size: 0.8em;
}

#footer {
  width: 100%;
  padding: 20px 40px;
  text-align: center;
  background: #19578B;
  color: white;
}