@import "normalize";
@import "colors";
@import "icons";
@import "fonts";
@import "highlight";

body {
  font-family: acumin-pro, sans-serif;
}

h1 {
  font-family: bookman-jf-pro, serif;
}

.topics a {
  font-size: 1.5em;
  text-decoration: none;
  color: black;
}

.articles {

}

.articles__article {

}

.articles__article--title {

}

.footer {

}