{{!< default}}

<div class="general-header">
	<h1>Make, Play, Learn</h1>
	<p>{{@site.description}}</p>
</div>

<main class="fixed-width-main-content" role="main">

    <section class="header-section">
        <h2>Explore</h2>
        <div class="even-grid">
            <article class="site-section">
                <a href="/courses/">
                    <h3>Courses</h3>
                    <p>Complete courses I've made on different platforms</p>
                </a>
            </article>
            <article class="site-section">
                <a href="/articles/">
                    <h3>Articles</h3>
                    <p>Articles I've written on various topics</p>
                </a>
            </article>
            <article class="site-section">
                <a href="https://www.youtube.com/channel/UCblCTVH8AHo2GEccKYKB7Uw">
                    <h3>Videos</h3>
                    <p>Let's Play gaming videos</p>
                </a>
            </article>
        </div>
    </section>

    <section>
        <h2>Latest</h2>
        <div class="even-grid">
            {{#get "posts" limit="6" filter="primary_tag:-Courses"}}
            {{#foreach posts}}
            <article class="article-preview">
                <a href="{{url}}">
                    <img src="{{feature_image}}" alt="">
                    <p>{{title}}</p>
                </a>
            </article>
            {{/foreach}}
            {{/get}}
        </div>
    </section>

</main>

