{{!< default}}
<main role="main">
    <header id="site-header">
        <h1>Hi, I'm Matt.</h1>
        <p>I'm a course author, game enthusiast, and product manager.</p>
    </header>
    <section id="courses">
        <h2>My courses</h2>
        <article class="course">
            <div class="image">
                <img src="assets/img/course-thumb-css-grid@1x.png" alt="">
            </div>  
            <a href="https://app.pluralsight.com/library/courses/css-grid-creating-layouts"><h3>Creating Layouts with CSS Grid</h3></a>
            <p class="metadata">1h 42m | Pluralsight | 2020</p>
            <p class="description">A practical overview of the CSS Grid specification, used to create hack-free web layouts.</p>
        </article>
        <article class="course">
            <div class="image">
                <img src="assets/img/course-thumb-css-grid@1x.png" alt="">
            </div>  
            <a href="https://app.pluralsight.com/library/courses/accessibility-website-structure-comprehension/table-of-contents"><h3>Accessibility: Website Structure and Comprehension</h3></a>
            <p class="metadata">1h 35m | Pluralsight | 2020</p>
            <p class="description">A practical overview of the CSS Grid specification, used to create hack-free web layouts.</p>
        </article>
    </section>
    <section id="gaming">
        <h2>Gaming</h2>
        <p>I publish gaming videos on my YouTube channel.</p>
    </section>
    <section id="about">
        <h2>About me</h2>
        <p>Never update. Always remake.</p>
    </section>
</main>


