{{!< default}}
<header id="blog-header">
    <h1>Hi, I'm Matt. I try to explain things that I like.</h1>
    <h2>The problem is, I like a lot of things.</h2>
</header>

<main role="main">
    <section class="topics">
        {{#get 'tags'}}
            {{#foreach tags}}
                <a href='{{url}}'>{{name}}</a>
            {{/foreach}}
        {{/get}}
    </section>
    <section class="articles">
        <heading>Latest Articles</heading>
        {{#foreach posts}}
            <article class="articles__article">
                <h1 class="articles__article--title">{{title}}</h1>
            </article>
        {{/foreach}}
    </section>
</main>