{{!< default}}
<main>
    <header>
        <div class="slogan">
            <div class="stacked-text">
                <span class="top">make,</span>
                <span class="bottom">cool stuff</span>
            </div>
            <div class="stacked-text">
                <span class="top">play,</span>
                <span class="bottom">games</span>
            </div>
            <div class="stacked-text">
                <span class="top">learn</span>
                <span class="bottom">everything!</span>
            </div>
        </div>

        <div class="bio">
            <img src="assets/img/matt-portrait.jpg" alt="matt's portrait">
            <p>I'm a course author, product manager, and game enthusiast. I learn things and explain them as best as I can. This site features the things I've made.</p>
        </div>
    </header>
    <div class="content">
        <section class="explore">
            <h2>explore</h2>
            <a href="#">
                <article>
                    <h3>Courses</h3>
                    <p>Gain tech skills with easy-to-understand explanations</p>
                </article>
            </a>
            <a href="#">
                <article>
                    <h3>Articles</h3>
                    <p>Short-form educational content and personal blogs</p>
                </article>
            </a>
            <a href="#">
                <article>
                    <h3>Videos</h3>
                    <p>Moving pictures that talk to you</p>
                </article>
            </a>
        </section>
        <section class="latest">
            <h2>the latest</h2>
            <a href="#">
                <article>
                    <span class="category">development</span>
                    <h3>Video Workflow with FFMPEG</h3>
                </article>
            </a>
            <a href="#">
                <article>
                    <span class="category">gaming</span>
                    <h3>Myst ch. 2</h3>
                </article>
            </a>
            <a href="#">
                <article>
                    <span class="category">gaming</span>
                    <h3>Myst ch. 1</h3>
                </article>
            </a>
        </section>
    </div>
    
</main>
